@import url("https://fonts.googleapis.com/css?family=Abyssinica+SIL");

* {
    padding: 50;
    margin: 100;
  }

body {
  margin:150 ;
  padding:50
}

section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

section.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}



.box_heading {
  flex-basis: 300px;
  flex: 1
}

section.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  column-gap: 50 px;
  flex-wrap: wrap;
}
.skills_item {
  flex: 1;
  border-radius: 7px 0 0 7px;
}
.skills_item.box_heading{
  align-content: center;
}
.extra_items{
  
  flex: 2
}
.box_item{
  flex: 2
}

.project_items{
  flex: 2
}

h1{
  font-family: "Abyssinica+SIL", serif;
  font-weight: 700;
  font-size: 26px;
  color: black
}

h2 {
  font-family: "Abyssinica+SIL", serif;
  font-weight: 700;
  font-size: 18px;
  color: gray
}
